<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zo.milaso.mytetris"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" 
              android:screenOrientation="nosensor" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
   		 <activity android:name=".Game"  android:screenOrientation="nosensor" > </activity>
		<activity android:name=".help"  android:screenOrientation="nosensor" > </activity>
		<activity android:name=".rank"  android:screenOrientation="nosensor" > </activity>
		<activity android:name=".setting"  android:screenOrientation="nosensor" > </activity>
    </application>

</manifest>
